* {
    font-family: 'Apple Garamond', sans-serif;
    font-family: 'Apple Garamond Light', sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Photograph Signature', sans-serif;
}

#logo {
    --padding: 1rem;
    position: fixed;
    top: var(--padding);
    left: var(--padding);
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
}

#logo.grande {
    --padding: 3rem;
    width: calc(100% - (var(--padding) * 2));
    height: calc(50% - (var(--padding) * 2));
}


body > div[id^="scena"] {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body > div > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}